<!doctype html>
<html>
<head>
	<title>CS602</title>
</head>
<body>
<header>
	<img src="/images/bu-logo.gif" alt="logo">
</header>
<h2>CS602 HW2 - Melissa Fratangeli</h2>
    <br>
<a href="/addEmployee">Add Employee</a>
    <br>
<p></p>
	{{{body}}}

</body>
</html>

